:root{
    --white: #edebeb;
    --darkblue: #14203a;
    --lightblue: #2185d5;
}

*{
    margin: 0px;
}

body{
    background-color: var(--darkblue);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

header{
    padding: 3vh 3vw 3vh 5vw;
    font-size: 3rem;
    background-color: var(--lightblue);
    font-weight: bolder;
}

.flex-container{
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBtn{
    border-radius: 8rem;
    background-color: var(--lightblue);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1vh;
    color: var(--white);
}

.modal{
    color: #14203a;
}

.modal-title{
    font-size: 60px;
}

.modal-content{
    border-radius: 25px;
    background-color: lightgrey;
}

form{
    display: flex;
    width: 80%;
    flex-direction: column;
    row-gap: 15px;
}

input,
label{
    height: 50px;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
}

form div{
    display: flex;
    align-items: center;
}

.checkbox{
    height: 20px;
    width: 20px;
}

.book-grid{
    padding: 3vh 19vw 3vh 20vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.book{
    padding: 2vh;
    background-color: var(--lightblue);
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10%;
}

.book div,
.book span{
    background-color: var(--lightblue);
    text-align: center;
}

.removeBtn,
.readBtn{
    background-color: var(--darkblue);
    border-radius: 10px;
    color: var(--white);
    width: 50%;
    padding: 1vh;
    font-size: 20px;
}
